@model Core.Entities.Project

@{
    ViewData["Title"] = "Project Details";
}

@section Styles{
    <style>
		body {
            padding-top: 80px; 
        }

        .top {
            color: #fff;
            text-decoration: underline;
        }

        .carousel-inner {
            width: 100%;
            height: 350px; 
        }

        .carousel-inner img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }

        .carousel-control-prev-icon::after {
            content: '\2039'; 
            font-size: 2rem;
            color: black; 
            padding:0px 15px;
        }

        .carousel-control-prev-icon:hover::after {
            content: '\2039';
            border-radius:50%;
            background-color: #549DB4;
            font-size: 2rem;
            color: white;
        }

        .carousel-control-next-icon::after {
            content: '\203A'; 
            font-size: 2rem;
            color: black; 
            padding: 0px 15px;
        }

        .carousel-control-next-icon:hover::after {
            content: '\203A';
            border-radius: 50%;
            background-color: #549DB4;
            font-size: 2rem;
            color: white;
        }
    </style>
}

<!-- Main Content Section -->
<div class="container mt-5 mb-5">
    @if (Model==null)
    {
        <h3 class="d-flex justify-content-center align-items-center mx-auto" style="width:50%; height:50vh; text-align:center">
            Error: Not found!
        </h3>        
    }
    else
    {
        <!-- Project Title -->
        <div class="row">
            <div class="h2 fw-bold fst-italic text-center px-2 px-sm-0 shadow py-2 mt-5"
                    style="font-family: Verdana, Geneva, Tahoma, sans-serif; color: #549DB4;">
                @Model.Title
            </div>
        </div>

        <!-- Project Carousel and Details -->
        <div class="row mt-5">
            <div class="col-lg-7">

                <div id="projectImagesCarousel" class="carousel slide mb-4 " data-bs-ride="carousel" data-bs-interval="2000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img loading="lazy" src="@Model.ProfileImageURL" class="d-block w-100 img-fluid rounded border border-3 shadow" alt="Project Image" data-bs-target="#projectImagesCarousel" data-bs-slide-to="0">
                        </div>
                        @for (int i = 0; i < Model.ImageUrls.Split(' ').Length; i++)
                        {
                            var imageUrl = Model.ImageUrls.Split(' ')[i];
                            <div class="carousel-item">
                                <img loading="lazy" src="@imageUrl" class="d-block w-100 img-fluid rounded border border-3 shadow" alt="Project Image" data-bs-target="#projectImagesCarousel" data-bs-slide-to="@i">
                            </div>
                        }
                    </div>
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#projectImagesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#projectImagesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                
            </div>

            <!-- Project Description and Details -->

            <div class="col-lg-5">
                <div class="card p-4 shadow-sm">
                    <h4 class="fw-bold" style="color:">Project Description</h4>
                    <p class="text-muted mt-3">@Model.Description</p>                  
                </div>
            </div>
        </div>

        <!-- Image Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModalLabel">Project Image</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img loading="lazy" src="" id="modalImage" alt="Large Project Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    }

</div>

   

@section Scripts
{
	<script src="~/js/viewprojectdetails.js"></script>
}
   






