@using Application.Services
@using Core.Entities

@inject GenericService<Topic> _topicRepository

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HJVRZNHS3G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-HJVRZNHS3G');
    </script>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - Mastering.NET</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/img/myapple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/img/myfavicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/img/myfavicon-16x16.png">    
    <link rel="manifest" href="~/assets/img/mysite.webmanifest">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
	<!-- Vendor CSS Files -->	
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    @* <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">	
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">        		
    <!-- Main CSS File -->
	<link href="~/assets/css/main.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    @RenderSection("Styles", required: false)

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6126051708179187"
            crossorigin="anonymous"></script>

</head>

<body style="padding-top:70px;">

    <div class="fixed-top">
        <header id="header" class="header d-flex align-items-center shadow" style="height: 70px; z-index: 1000; width: 100%;">
            <div class="container-fluid container-xl position-relative d-flex align-items-center">
                <a href="/Home/Index" class="logo d-flex align-items-center me-auto">
					<img loading="lazy" src="~/assets/img/mylogo.png" style="height:50px;"  />
                    <h1 class="sitename ms-3 fwt-bold">Mastering.NET</h1>
                </a>
                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="/Home/Index#" class="@(ViewData["Title"] as string == "Home Page" ? "active" : "")">Home<i class="bi bi-house fs-5 ms-1"></i></a></li>
                        <li><a href="/Home/Topics" class="@(ViewData["Title"] as string == "Topics" ? "active" : "")">Topics<i class="bi bi-book fs-5 ms-1"></i></a></li>
                        <li><a href="/Home/Projects" class="@(ViewData["Title"] as string == "Projects" || ViewData["Title"] as string == "Project Details"  ? "active" : "")">Projects<i class="bi bi-globe fs-5 ms-1"></i></a></li>
                        <li><a href="/Home/Index/#about">About<i class="bi bi-info-circle fs-5 ms-1"></i></a></li>
                        <li><a href="/Home/Index/#contact">Contact<i class="bi bi-telephone fs-5 ms-1"></i></a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-md-none bi bi-list"></i>
                </nav>
            </div>
        </header>

        <div id="topic-wrapper">
            <partial name="_topicsNavBarPartial" model="await _topicRepository.GetAll()" />
        </div>

    </div>

    <!-- Main content -->
    @RenderBody()


    <footer id="footer" class="mt-5 footer position-relative light-background py-4">
        <div class="container">
            <div class="row gy-4">
                <!-- About Section -->
                <div class="col-lg-4 col-md-6 footer-about animate-section">
                    <a href="Home/Index" class="logo d-flex align-items-center mb-3 logo-animate">
                        <span class="sitename">Mastering.NET</span>
                    </a>
                    <p class="text-muted">
                        Your trusted resource for mastering .NET technologies. Explore courses, articles, and tutorials crafted to enhance your skills in software development.
                    </p>
                    <p class="mt-3">
                        <strong>Email:</strong> <a href="mailto:contact@masteringdotnet.com" class="text-decoration-none">contact@masteringdotnet.com</a>
                    </p>
                </div>

                <!-- Useful Links Section -->
                <div class="col-lg-4 col-md-3 footer-links animate-section">
                    <h4>Useful Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="/Home/Index#" class="link-animate">Home</a></li>
                        <li><a href="/Home/Topics" class="link-animate">Topics</a></li>
                        <li><a href="/Home/Projects" class="link-animate">Projects</a></li>
                        <li><a href="/Home/Index/#about" class="link-animate">About Us</a></li>
                        <li><a href="/Home/Index/#contact" class="link-animate">Contact Us</a></li>
                    </ul>
                </div>

                <!-- Social Links Section -->
                <div class="col-lg-4 col-md-3 footer-social animate-section">
                    <h4>Connect With Us</h4>
                    <p class="text-muted">
                        Stay connected with us and Reach out on any of our social media platforms if you have questions, need assistance, or just want to say hello.
                        We're here to support and engage with our community!
                    </p>
                    <div class="social-links d-flex mt-4">
                        <a href="https://www.facebook.com/share/VCmndHXPk4ejJKVN/" target="_blank" class="social-icon">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/masteringdotnet" target="_blank" class="social-icon">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/masteringdotnet/" target="_blank" class="social-icon">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="mailto:contact@masteringdotnet.com" target="_blank" class="social-icon">
                            <i class="bi bi-envelope"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <!-- Bottom Section -->
        <div class="container mt-4 text-center animate-section">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/Home/privacy_policy" class="text-muted link-animate">Privacy Policy</a></li>
                <li class="list-inline-item"><span class="text-muted">|</span></li>
                <li class="list-inline-item"><a href="/Home/terms_of_use" class="text-muted link-animate">Terms of Use</a></li>
            </ul>
            <p>© <strong>Mastering.NET</strong> All Rights Reserved </p>
        </div>
    </footer>



    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>


    <!-- Preloader -->
  @*   <div id="preloader"></div> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>    
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="~/assets/js/main.js"></script>

     <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="~/js/layout.js"></script>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/signalr.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <partial name="_ValidationScriptsPartial" />;

</body>
</html>
