@model List<Core.Entities.Contact>

<!-- Messages Section -->
<section id="messages" class="messages section light-background">
    <div class="container section-title" data-aos="fade-up">
        <h2>Messages</h2>
        <p>Below are the messages sent by different users!</p>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="background-color:#388DA8; color:white;">Sender</th>
                        <th scope="col" style="background-color:#388DA8; color:white;">Subject</th>
                        <th scope="col" style="background-color:#388DA8; color:white;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model.OrderByDescending(contact => contact.Id))
                    {
                        <tr>
                            <!-- Sender Name -->
                            <td style="font-weight: @(contact.IsRead ? "normal" : "bold"); cursor:pointer;"
                                data-href="@Url.Action("MessageDetails", "Admin", new { id = contact.Id })">
                                @Html.Raw(contact.Name)
                            </td>
                            <!-- Subject -->
                            <td style="font-weight: @(contact.IsRead ? "normal" : "bold"); cursor:pointer;"
                                data-href="@Url.Action("MessageDetails", "Admin", new { id = contact.Id })">
                                @Html.Raw(contact.Subject)
                            </td>
                            <!-- delete icon -->
                            <td>
                                <i class="bi bi-trash text-danger me-1 msg-delete-icon" data-id="@contact.Id"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <section>
            <div class="container text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="~/assets/img/noMessageFound.png" class="img-fluid hero-img" alt="No messages found">
                    <h3 data-aos="fade-up" class="fst-italic fw-bold" data-aos-delay="100" style="color:#549DB4">
                        No messages yet.<br>
                    </h3>
                </div>
            </div>
        </section>
    }
</section>
