@model List<Core.Entities.Contact>

<!-- Testimonials Section -->
<section id="testimonials" class="testimonials section light-background">

    <div class="container section-title" data-aos="fade-up">
        <h2>Messages</h2>
        <p>Below are the messages sent by different users for help!</p>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper init-swiper swiper-container">
                <div class="swiper-wrapper">
                    @foreach (var contact in Model)
                    {
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div>
                                    <!-- Heading for Subject -->
                                    <h3 style="color: #549DB4;">Subject</h3>
                                    <p>@Html.Raw(@Html.Encode(contact.Subject))</p>
                                </div>
                                <div>
                                    <!-- Heading for Message -->
                                    <h3 style="color: #549DB4;">Message</h3>
                                    <p>@Html.Raw(@Html.Encode(contact.Message))</p> 
                                </div>
                                <div class="profile mt-auto">
                                    <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                    <h3>@Html.Raw(@Html.Encode(contact.Name))</h3> 
                                    <h4>@Html.Raw(@Html.Encode(contact.Email))</h4>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    }
    else
    {
        <section>
            <div class="container text-center">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <img src="~/assets/img/noMessageFound.png" class="img-fluid hero-img" alt="">
                    <h3 data-aos="fade-up" class="fst-italic fw-bold" data-aos-delay="100" style="color:#549DB4">No messages yet.<br></h3>
                </div>
            </div>
        </section>
    }
</section>
